body {
  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  /* set the color to the nearest parent */
  color: currentColor;
  text-decoration: none;
}

.navbar {
  height: 70px;
  width: 100%;
  background: #000;
  color: white;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.header {
  padding: 1em;
  background: red;
  margin-bottom: 1em;
  padding-bottom: 3.5em;
  text-align: center;
  clip-path: polygon(50% 0%, 100% 0, 100% 81%, 50% 100%, 0 83%, 0 0);
}

.dropdown {
  position: absolute;
  width: 500px;
  opacity: 0;
  z-index: 2;
  background: blue;
  border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  margin-top: 2rem;
  padding: 0.5rem;

  box-shadow: rgba(2,8,20,0.1) 0px 0.175em 0.5em;
  transform: translateX(-40%);

  transition: opacity .15s ease-out
}

.has-dropdown:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}